* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

header{
    justify-content: center;
    background-color: aqua; /*debug feature*/
}

.headercontainer{
    justify-content: space-between;
    width: 60%;
    height: 60px; /*debug feature*/
}

.headerbox{
    justify-content: center;
    align-items: center;
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

.headerlist{
    flex-direction: row;
    list-style: none;
}

.headerlist li{
    padding: 1rem;
}

.headerbox img{
    margin: 1rem;  /*debug feature*/
}

.headerbox i{
    display: none;
}

.container{
    justify-content: center;
    width: 100%;
}

.topcontainer {
    width: 60%;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: black; /*debug feature*/
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

.topcontainer div{
    width: calc(100% / 3 - 1.25rem);
    height: 270px;
    margin: 0.5rem;
    background-color: blueviolet; /*debug feature*/
}

.topcontainer div:first-of-type{
    width: calc((100% / 3)*2 - 1.50rem);
}

/*tablet header responsive*/

@media screen and (max-width: 980px){
    .headerlist{
        display: none;
    }

    .headerbox i{
        display: inline;
    }

    .headercontainer{
        width: 100%;
    }

}


@media screen and (max-width: 530px){

    .topcontainer div



}