* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

header{
    justify-content: center;
    background-color: aqua; /*debug feature*/
}

.headercontainer{
    justify-content: space-between;
    width: 60%;
    height: 60px; /*debug feature*/
}

.headerbox{
    justify-content: center;
    align-items: center;
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

.headerlist{
    flex-direction: row;
    list-style: none;
}

.headerlist li{
    padding: 1rem;
}

.headerbox img{
    margin: 1rem;  /*debug feature*/
}

.headerbox i{
    display: none;
}

.container{
    justify-content: center;
    width: 100%;
}

.topcontainer {
    width: 60%;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: black; /*debug feature*/
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

.topcontainer div{
    width: calc(100% / 3 - 1.25rem);
    height: 325px;
    margin: 0.5rem;
    background-color: blueviolet; /*debug feature*/
}

.topcontainer div:first-of-type{
    width: calc((100% / 3)*2 - 1.50rem);
}

.container_mid{
    width: 100%;
    height: auto;
    margin-top: 60px;
    justify-content: center;
    background-color: rgb(76, 2, 123); /*debug feature*/
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

.container_interno{
    width: 60%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}


.containerbox{
    width: 50%;
    height: 600px;
    background-color: brown;
    border-style: dotted; /*debug feature*/
    border-color: aliceblue; /*debug feature*/
}

/*tablet header responsive*/

@media screen and (max-width: 1024px){

    .topcontainer{
        width: 90%;
    }

    .headerlist{
        display: none;
    }

    .headerbox i{
        display: inline;
    }

    .headercontainer{
        width: 100%;
    }
    .container_interno{
        width: 90%;
    }
    .containerbox{
        width: 100%;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 460px){

    .topcontainer{
        width: 90%;
    }

    .topcontainer div{
        width: 100%;
    }

    .topcontainer div:first-of-type{
        width: 100%;
        height: 650px;
    }


}